<%- include("../partials/header") %>

<h2 class="pageHeaders">EDIT</p></h2>

<div class="row justify-content-sm-center">
    <div class="col-md-10">
        <form action="/debates/<%= debate_id %>/for/<%= forArg._id %>?_method=PUT" method="POST">
            <div class="form-group">

                <h4>Editing FOR argument as <%= forArg.author.username %></h4>

                <label for="debateForContent">Content</label>
                <textarea class="form-control" name="for[content]" id="debateForContent" cols="30" rows="10" > <%= forArg.content %></textarea>
                
            </div>
            <button class="btn btn-outline-info" type="submit" name="createPost">update</button>
        </form> 
    </div>  
</div>

<%- include("../partials/footer") %>