<%- include("../partials/header") %>

<h2 class="pageHeaders"><%= debate.topic %></h2>

<div class="center-form">
        <h4>For</h4>
        <form action="/category/<%= category.slug %>/<%= debate.slug %>/for/" method="POST" class="pure-form pure-form-stacked">
            <fieldset>
                <label for="debateForAuthor">Content Author</label>
                <input type="text" id="debateforAuthor" name="for[author]" required placeholder="Add author name">

                <label for="authorInfo">Author Info</label>
                <textarea required name="for[authorDetails]" id="authorInfo" cols="30" rows="10" placeholder="Add details of the author"></textarea>

                <label for="authorWeb">Author Web</label>
                <input type="text" name="for[authorLink]" id="authorWeb" placeholder="Add author web link">


                <label for="debateForContent">Content</label>
                <textarea required name="for[content]" id="debateForContent" cols="30" rows="10" placeholder="Write your argument here"></textarea>
                
    
                <button class="submit-button" type="submit" name="createPost">publish</button>
            </fieldset>
        </form>  
</div>

<%- include("../partials/footer") %>