<%- include('partials/header') %>

<!-- *********************************************************************** -->
<!-- *********************************************************************** -->

<!-- Add a scrollable menu for each category from https://purecss.io/menus/ -->

<!-- *********************************************************************** -->
<!-- *********************************************************************** -->



<section id="index-banner">
    <H1>Show latest debates here</H1>
</section>

<h4>Categories</h4>
  <section class="pure-g">
      <% categories.forEach(function(category){ %>
        <a  href="/category/<%= category.slug %>" class="pure-u-1-3 index-debate-item pure-u-md-1-5" style="background-image: url(<%= category.image %>)">
          <h4>
              <%= category.name %>
          </h4>
        </a>
      <% }) %>
  </section>
  <a href="/debates" id="index-more-debates">
      <h4>MORE DEBATES</h4>
  </a>

<%- include('partials/footer') %>