<%- include("../partials/header") %>

<h2 class="pageHeaders">Edit <%=category.name%></h2>

<div class="center-form">
        <form action="/category/<%=category.slug %>?_method=PUT" method="post" class="pure-form pure-form-stacked">
            <fieldset>
                <label for="categoryName">Category Name</label>
                <input type="text" name="category[name]" id="categoryName" class="form-control" value="<%= category.name %>">
                <label for="categoryImage">Category Image</label>
                <input type="text" name="category[image]" id="categoryImage" class="form-control" value="<%= category.image %>">
            <br>
            <button class="submit-button" type="submit" name="update category">update category</button>
        </fieldset>
        </form>
        <div class="center-form">
                <a href="/category/<%= category.slug %>/removedebate" id="remove-debate-button">Remove a debate</a>
                <br>
                <br>
                <form class="delete-form" action="/category/<%=category.slug %>?_method=DELETE" method="POST">
                    <button class="delete-button"> delete category </button>
                </form>
        </div>
    
</div>

<%- include("../partials/footer") %>