<%- include("../partials/header") %>

<h4 class="pageHeaders">
    Categories
</h4>
<div class="pure-g">
    <% categories.forEach(function(category){ %>
        <a href="/category/<%= category.slug %>" class="debate-item pure-u-1 pure-u-md-1-4" style="background-image: url(<%= category.image %>);">
            <h4>
                <%= category.name %>
            </h4>
        </a>
    <% }) %>
</div>
<%- include("../partials/footer") %>