<%- include("../partials/header") %>

<h2 class="pageHeaders">Remove debate for <%= category.name %></h2>

<div class="center-form">
        <form action="/categories/removedebate/<%=category._id %>?_method=PUT" method="post" class="pure-form pure-form-stacked">
            <fieldset class="center-form">
                <select class="" data-style="btn-info" id="debateCategory" name="category[debates]">
                    <optgroup label="debate category">
                        <% category.debates.forEach(function(debate){ %>
                            <option name="" value="<%= debate._id %>"><%= debate.topic %></option>
                        <% }) %>
                    </optgroup>
                </select>   
                <br>
                <button class="submit-button" type="submit" name="update category">remove selected debate</button>
            </fieldset>
        </form>
</div>


<%- include("../partials/footer") %>


