<%- include("../partials/header") %>

<h1 class="display-2">
    <%= category.name %>
</h1>
<% if(category.debates.length < 1) {%>
    <div class="centred-text">
        <h3>NO DEBATES YET</h3>
    </div>
<%} else {%>

    <div class="pure-g">
        <% category.debates.forEach(function(debate){ %>
            <a href="/debates/<%= debate._id %>" class="pure-u-1 debate-item pure-u-md-1-3">
                <h3>
                    <%= debate.topic %>
                </h3>
            </a>
        <% }) %>
    </div>
<%}%>






<%- include("../partials/footer") %>