<%- include("../partials/header") %>

<h3 class="pageHeaders">
    Current Debates
</h3>
<% if(currentUser){ %>
    <h4>Unpublished debates</h4>
    <button class="pure-button submit-button" id="unpublished-button">VIEW UNPUBLISHED DEBATES</button>
    <section class="pure-g" id="unpublished-debates">
        <% debates.forEach(function(debate){ %>
            <% if(!debate.isPublished){ %>
                <a href="/category/<%= debate.category.slug %>/<%= debate.slug %>" class="debate-item pure-u-1 pure-u-md-1-5" style="background-image: url(<%= debate.image %>);">
                    <h4>
                        <%= debate.topic %>
                    </h4>
                </a>
            <% } %>
        <% }) %>
    </section>
    <h4>published-debates</h4>
<% } %>
<section id="published-debates">
        <% debates.forEach(function(debate){ %>
            <% if(debate.isPublished){ %>
                <a href="/category/<%= debate.category.slug %>/<%= debate.slug %>" class="debate-page-item">
                    <img src="<%= debate.image %>" class="debate-page-img" alt="<%= debate.topic %>">
                    <div class="debate-page-content">
                            <p class="debate-page-cat">
                                <%= debate.category.name %> - 
                                <em class="debate-page-date">
                                    <%= moment(debate.createdAt).calendar() %>
                                </em>
                            </p>
                            <h4 class="debate-page-header">
                                <%= debate.topic %>
                            </h4>
                    </div>
                </a>
            <% }%>
        <% }) %>
</section>
<%- include("../partials/footer") %>