<%- include("../partials/header") %>

<h1 class="text-center">
    Current Debates
</h1>
<div class="row">
    <% debates.forEach(function(debate){ %>
        <div class="col text-center">
            <h3>
                <%= debate.title %>
            </h3>
            <p>
                <%= debate.author %>
            </p>
            <a href="debates/<%=debate._id%>">
                view
            </a>
        </div>
    <% }) %>
</div>

<%- include("../partials/footer") %>