<%- include("../partials/header") %>

<h3 class="pageHeaders">
    Current Debates
</h3>
<section id="published-debates">
        <% debates.forEach(function(debate){ %>
            <a href="/category/<%= debate.category.slug %>" class="debate-page-item">
                <img src="<%= debate.image %>" class="debate-page-img" alt="<%= debate.topic %>">
                <div class="debate-page-content">
                        <p class="debate-page-cat">
                            <%= debate.category.name %> - 
                            <em class="debate-page-date">
                                <%= moment(debate.createdAt).calendar() %>
                            </em>
                        </p>
                        <h4 class="debate-page-header">
                            <%= debate.topic %>
                        </h4>
                </div>
            </a>
        <% }) %>
</section>
<%- include("../partials/footer") %>