<%- include("../partials/header") %>

<h2 class="pageHeaders">Edit - <em><%= debate.topic %></em> FOR</h2>

<div class="row justify-content-sm-center">
    <div class="col-md-10">
        <form action="/debates/<%= debate._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="debateForAuthor">Author</label>
                <input class="form-control" type="text" name="debate[for][author]" id="debateForAuthor" value="<%= debate.for.author %>">

                <label for="debateForContent">Content</label>
                <textarea class="form-control" name="debate[for][content]" id="debateForContent" cols="30" rows="10"><%= debate.for.content %></textarea>
                
            <div class="form-group">
                <label for="debateAgainstAuthor">Author</label>
                <input class="form-control" type="text" name="debate[against][author]" id="debateAgainstAuthor" value="<%= debate.for.author %>">

                <label for="debateAgainstContent">Content</label>
                <textarea class="form-control" name="debate[against][content]" id="debateAgainstContent" cols="30" rows="10"><%= debate.against.content %></textarea>
                
                <br>
                
              </div>
            <button class="btn btn-outline-info" type="submit" name="updatePost">update</button>
        </form>
    </div>
</div>

<%- include("../partials/footer") %>