<%- include("../partials/header") %>

<h1 class="display-2">
    <%= debate.topic %>
</h1>
<p class="lead">
    <%= debate.summary %>
</p>
<p>
        <%= moment(debate.createdAt).calendar() %>
</p>

<!-- NEW LAYOUT -->
<% if(currentUser && debate.moderator.id.equals(currentUser._id)) { %>
    <div class="moderator-functions">
        <p>Moderator functions</p>
        <div class="moderator-buttons">
            <a class="btn btn-outline-info" href="/debates/<%= debate._id %>/edit"> edit </a>
            <form class="col text-center delete-form" action="/debates/<%= debate._id %>?_method=DELETE" method="POST">
                <button class="btn btn-outline-danger"> delete </button>
            </form>
        </div>
    </div>
<% } %>
<div class="debate-section">
    <% if(debate.for && debate.against) { %>
        <div class="argument">
            <h3 class="argument-for">the case for...</h3>
            <p class="argument-author">
                <em>by <%= debate.for.author.username %></em>
            </p>
            <p class="argument-content">
                <%= debate.for.content %>
            </p>
        </div>
        <div class="argument">
            <h3 class="argument-against">the case against...</h3>
            <p class="argument-author">
                <em>by <%= debate.against.author.username %></em>
            </p>
            <p class="argument-content">
                <%= debate.against.content %>
            </p>
        </div>
    <% } else { %>
        <div class="coming-soon">
            <p>Debate coming soon.</p>
            <% if(currentUser && debate.moderator.id.equals(currentUser._id)) { %>
                <div class="moderator-debate-content">
                    <p class="col-sm-12">Add new arguments</p>
                    <a href="/debates/<%=debate._id%>/for/new" class="col btn btn-outline-warning">For</a>
                    <a href="/debates/<%=debate._id%>/against/new" class="col btn btn-outline-warning">Against</a>
                </div>
            <% } %>
        </div>
    <% } %>
</div>
<p class="moderator-title"><em>moderator - <%= debate.moderator.username %></em></p>

<div class="discussion">
    <h3>Discuss</h3>
    <div class="discussion-join">
        <a href="/debates/<%= debate._id %>/discussion/new" id="joinDiscBtn">Join the discussion</a>
    </div>
    <% debate.comments.forEach(function(comment){ %>
        <div class="comment-item">
            <div class="comment-body">
                <%= comment.text %>
            </div>
            <div class="comment-author">
                - <em><%= comment.author.username %></em>
            </div>
            <% if(currentUser && comment.author.id.equals(currentUser._id)|| currentUser && debate.moderator.id.equals(currentUser._id)){ %>
                <a href="/debates/<%=debate._id%>/discussion/<%=comment._id%>/edit" class="btn btn-sm btn-outline-warning">EDIT</a>
                <form class="delete-form" action="/debates/<%=debate._id%>/discussion/<%=comment._id%>?_method=DELETE" method="POST">
                    <input class="btn btn-sm btn-outline-danger" type="submit" value="DELETE">
                </form>
            <% } %>
        </div>
    <%})%>
</div>


<%- include("../partials/footer") %>

<!-- 
<div class="row">

    <% if(debate.for && debate.against) { %>
        <div class="col-sm-12" id="forContent">
            <h4 class="col-md-12">The Case FOR</h4>
            <p class="col-md-12">
                <em>by - <%= debate.for.author.username %></em>
            </p>
            <div class="col-md-12 row">
                    
                    <p class="col-md-6 debateContent"> 
                        <%= debate.for.content %>
                    </p>
                    <img class="img-fluid col-md-6" src="https://loremflickr.com/320/240" alt="">
            </div>
            
        </div>
        
        <div class="col-md-12" id="againstContent">
            <h4 class="col-md-12">The Case AGAINST</h4>
            <p class="col-md-12">
                <em>by - <%= debate.against.author.username %></em>
            </p>
            <div class="col-md-12 row">
                <img class="col-md-6" src="https://loremflickr.com/320/240" alt="">
                <p class="col-md-6 debateContent">
                    <%= debate.against.content %>
                </p>
            </div>
            <a href="/debates/<%=debate._id%>/against/<%=debate.against._id%>/edit" class="btn btn-outline-warning">EDIT</a>
        </div>
        
    <% } else { %>
        <div class="col-md-12 text-center">
            <p class="lead">Debate to come soon</p>
        </div>
        <% if(currentUser && debate.moderator.id.equals(currentUser._id)) { %>
            <div class="row text-center col-md-12">
                    <p class="col-sm-12">Add new arguments</p>
                    <a href="/debates/<%=debate._id%>/for/new" class="col btn btn-outline-warning">For</a>
                    <a href="/debates/<%=debate._id%>/against/new" class="col btn btn-outline-warning">Against</a>
            </div>
        <% }%>
    <% } %>
    
</div>
<p>moderator - <%= debate.moderator.username %></p>

<% if(currentUser && debate.moderator.id.equals(currentUser._id)) { %>
    <br>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-info" href="/debates/<%= debate._id %>/edit"> edit </a>
        </div>
        <form class="col text-center delete-form" action="/debates/<%= debate._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger"> delete </button>
        </form>
    </div>
<% } %>


<br>
<hr>
<br> -->
<!-- <div id="discussionSection" class="row justify-content-md-center">
    <div class="col-sm-12">
        <h3>Discussion</h3>
    </div>
    <p class="col-sm-12 text-right">
        <a id="joinDiscBtn" href="/debates/<%= debate._id %>/discussion/new">Join the discussion.</a>
    </p>
    <div id="commentSect" class="col-sm-12">
        <% debate.comments.forEach(function(comment){ %>
            <div class="col-sm-12 row comment">
                    <p class="col">
                            <%= comment.author.username %> - <em><%= comment.text %></em>
                        </p>
            
                        <% if(currentUser && comment.author.id.equals(currentUser._id)|| currentUser && debate.moderator.id.equals(currentUser._id)){ %>
                            <div class="col">
                                <a href="/debates/<%=debate._id%>/discussion/<%=comment._id%>/edit" class="btn btn-sm btn-outline-warning">EDIT</a>
                                <form class="delete-form" action="/debates/<%=debate._id%>/discussion/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input class="btn btn-sm btn-outline-danger" type="submit" value="DELETE">
                                </form>
                            </div>
                        <% } %>
                        
            </div>
        <% }) %>
    </div>
</div> -->
<!-- 
<div id="discussionSection" class="row justify-content-md-center">
    <div class="col-sm-12">
        <h3>Discussion</h3>
    </div>
    <p class="col-sm-12 text-right">
        <a id="joinDiscBtn" href="/debates/<%= debate._id %>/discussion/new">Join the discussion.</a>
    </p>
    <div id="commentSect" class="col-sm-12">
        <% debate.comments.forEach(function(comment){ %>
            <div class="col-sm-12 row comment">
                    <p class="col">
                            <%= comment.author.username %> - <em><%= comment.text %></em>
                        </p>
            
                        <% if(currentUser && comment.author.id.equals(currentUser._id)|| currentUser && debate.moderator.id.equals(currentUser._id)){ %>
                            <div class="col">
                                <a href="/debates/<%=debate._id%>/discussion/<%=comment._id%>/edit" class="btn btn-sm btn-outline-warning">EDIT</a>
                                <form class="delete-form" action="/debates/<%=debate._id%>/discussion/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input class="btn btn-sm btn-outline-danger" type="submit" value="DELETE">
                                </form>
                            </div>
                        <% } %>
                        
            </div>
        <% }) %>
    </div>
</div>

 -->