<%- include("../partials/header") %>

<div class="row justify-content-md-center">
    <div class="col-sm-12">
        <h2>
            <%= debate.title %>
        </h2>
        <p>
            <%= debate.author %>
        </p>
            <%= debate.content %>
        
    </div>
    
</div>
<br>
<div class="row justify-content-md-center">
    <div class="col text-center">
        <a class="btn btn-outline-info" href="/debates/<%= debate._id %>/edit"> edit </a>
    </div>
    <form class="col text-center" action="/debates/<%= debate._id %>?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger"> delete </button>
    </form>
</div>
<br>
<hr>
<br>
<div class="row justify-content-md-center">
    <div class="col-sm-12">
        <h3>Discussion</h3>
    </div>
    <p class="col-sm-12 text-right">
        <a id="joinDiscBtn" href="/debates/<%= debate._id %>/discussion/new">Join the discussion.</a>
    </p>
    <div id="commentSect" class="col-sm-12">
        <% debate.comments.forEach(function(comment){ %>
            <p class="col-sm-12 comment">
                <strong><%= comment.author %></strong> - <em><%= comment.text %></em>
            </p>
        <% }) %>
    </div>
</div>



<%- include("../partials/footer") %>