<%- include("../partials/header") %>

<div class="row justify-content-md-center">
    <div class="col-sm-10">
        <h2>
            <%= debate.title %>
        </h2>
        <p>
            <%= debate.author %>
        </p>
            <%= debate.content %>
    </div>
</div>

<%- include("../partials/footer") %>