<%- include("../partials/header") %>
<% if((currentUser && debate.moderator.id.equals(currentUser._id))|| (currentUser && currentUser.isAdmin)) { %>
<div class="moderator-functions">
    <p class="mod-title">Moderator functions</p>
    <div class="moderator-buttons">
        <a class="pure-button edit-debate-button" href="/category/<%= category_slug %>/<%= debate.slug %>/edit"> edit debate </a>
        <form class="delete-form" action="/category/<%= category_slug %>/<%= debate.slug %>?_method=DELETE" method="POST">
            <button class="delete-button pure-button"> *** DELETE DEBATE *** </button>
        </form>
        <% if(debate.for && debate.against) { %>
            <div class="edit-args">
                <a class="pure-button edit-argument-button" href="/category/<%= category_slug %>/<%= debate.slug %>/for/<%=debate.for._id %>/edit"> edit for </a>
                <a class="pure-button edit-argument-button" href="/category/<%= category_slug %>/<%= debate.slug %>/against/<%=debate.against._id %>/edit"> edit against </a>
            </div>
        <% } %>
        <br>
        <br>
        <p>
            Publish status: <strong>
                <% if(debate.isPublished){ %>
                    Published
                <% } else{ %>
                    Unpublished
                <% } %>
            </strong>
        </p>
    </div>
</div>
<% } %>
<section class="show-header" style="background-image: URL(<%= debate.image %>>);background-repeat: no-repeat;
background-size: auto auto;
background-position: center center; background-size: cover;">
    <div class="header-content">
        <h1 class="debate-header">
                <%= debate.topic %>
        </h1>
        <p class="debate-summary">
            <%= debate.summary %>
        </p>
        <p id="debate-c-and-d">
            <a href="/category/<%= debate.category.slug %>"> <%=debate.category.name %></a> - <em><%= moment(debate.createdAt).format("MMM Do YYYY") %></em>
        </p>
    </div>
        
</section>

<!-------------------- DEBATES -------------------->

<section class="debate-section">
    <% if(debate.for && debate.against) { %>
        <p class="estimated-read">
            estimated read time...
            <em class="read-mins">
                    <%= Math.round(((debate.for.content.split(" ").length) + (debate.against.content.split(" ").length)) / 200) %>
                    minutes
            </em>
        </p>
        <article class="argument">
            <div class="argument-summary">
                <h4 class="case-header">the case for...</h4 class="case-header">
                <p class="argument-author">
                    <em>by <%= debate.for.author %></em>
                </p>
            </div>
            <p class="argument-content">
                <%= debate.for.content %>
            </p>
        </article>
        <article class="argument argument-against">
            <div class="argument-summary">
                <h4 class="case-header">the case against...</h4>
                <p class="argument-author">
                    <em>by <%= debate.against.author %></em>
                </p>
            </div>
            <p class="argument-content">
                <%= debate.against.content %>
            </p>
        </article>
</section>
<section class="about-authors">
    <!-- <h2>About the authors</h2> -->
    <div class="author-content">
            <article class="author-details">
                <h4>
                    about... <%= debate.for.author %>
                </h4>
                <% if(debate.for.authorLink){ %>
                    <a target="_blank" href="http://<%= debate.for.authorLink %>">Visit Website</a>
                <% } %>
                
                <p>
                    <%= debate.for.authorDetails %>
                </p>
            </article>
            <article class="author-details">
                <h4>
                    about... <%= debate.against.author %>
                </h4>
                <% if(debate.against.authorLink){ %>
                    <a target="_blank" href="http://<%= debate.against.authorLink %>">Visit Website</a>
                <% } %>
                
                <p class="author-content">
                    <%= debate.against.authorDetails %>
                </p>
            </article>
    </div>
</section>
<p class="moderator-title"><em>moderator - <%= debate.moderator.username %></em></p>

 <!-------------------- VOTES -------------------->

        <section id="vote-section">
            <h4>VOTES</h4>
            <div class="center-form">
                <canvas id="debatePie" width="100px" height="100px"></canvas>
            </div>
            <% if(currentUser) { %>
                <div id="voting-buttons">
                    <div class="vote-button-section">
                        <h5>For</h5>
                        <% if(debate.for.usersVoted.includes(currentUser._id) || debate.against.usersVoted.includes(currentUser._id)){ %>
                            <em>You have already voted.</em>
                        <% } else {%>
                            <form action="/category/<%= category_slug %>/<%= debate.slug %>/for/vote/<%= debate.for._id%>?_method=PUT" id="votebox"  method="post">
                                <button type="submit" class=" vote-button" name="for[votes]">+</button>
                            </form>
                        <% } %>
                    </div>
                    <div class="vote-button-section">
                        <h5>Against</h5>
                        <% if(debate.against.usersVoted.includes(currentUser._id) || debate.for.usersVoted.includes(currentUser._id)){ %>
                            <em>You have already voted</em>
                        <% } else {%>
                            <form action="/category/<%= category_slug %>/<%= debate.slug %>/against/vote/<%= debate.against._id%>?_method=PUT" id="votebox"  method="post">
                                <button type="submit" class=" vote-button" name="against[votes]">-</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <% if(debate.against.usersVoted.includes(currentUser._id) || debate.for.usersVoted.includes(currentUser._id)){ %>
                    <% if(debate.for.usersVoted.includes(currentUser._id)){ %>
                        <form action="/category/<%= category_slug %>/<%= debate.slug %>/for/changevote/<%= debate.for._id%>?_method=PUT" id="votebox"  method="post">
                            <button type="submit" class="pure-button" name="for[votes]">Change my vote</button>
                        </form>
                    <% } else { %>
                        <form action="/category/<%= category_slug %>/<%= debate.slug %>/against/changevote/<%= debate.against._id%>?_method=PUT" id="votebox"  method="post">
                            <button type="submit" class="pure-button" name="against[votes]">Change my vote</button>
                        </form>
                    <% } %>
                <% } %>
            <% } else { %> 
                <h5 class="login-notification">YOU MUST BE LOGGED IN TO VOTE</h5>
            <% } %>
            
        </section>

    <!-------------------- DISCUSSION -------------------->

        <section class="discussion">
                <h4>Discuss</h4>
                <!-- <div class="discussion-join">
                    <a href="/debates/<%= debate._id %>/discussion/new">Join the discussion</a>
                </div> -->
                <% if(currentUser) { %>
                    <div class="center-form">
                        <form action="/category/<%= category_slug %>/<%= debate.slug %>/discussion" method="post" id="new-comment-form" class="pure-form pure-form-stacked">
                            <fieldset>
                
                                <label for="debateContent">Your comment:</label>
                                <textarea name="comment[text]" id="commentContent" cols="30" rows="10" placeholder="Write your comment here"></textarea>
                    
                                <button class="submit-button" type="submit" name="createPost">submit comment</button>
                            </fieldset>
                        </form>
                    </div>
                <% } else { %>
                    <div id="comment-login">
                        <a href="/login">log in here to join the discussion</a>
                    </div>
                    
                <% } %>
            
                <div id="comment-list">
                    <% debate.comments.forEach(function(comment){ %>
                        <div class="comment-item" id="comment-item">
                            <em class="comment-date">created <%= moment(comment.createdAt).calendar() %></em>
                            <div class="comment-body">
                                <%= comment.text %>
                            </div>
                            <div class="comment-author">
                                - <em><%= comment.author.username %></em>
                            </div>
                            <form action="/category/<%= category_slug %>/<%= debate.slug %>/discussion/<%= comment._id%>" method="POST" class="pure-form pure-form-stacked edit-comment-form">
                                <fieldset>
                                    <label for="debateContent">Discuss</label>
                                    <textarea class="form-control" name="comment[text]" id="debateContent" cols="30" rows="10" placeholder="Write your argument here"><%= comment.text %></textarea>
                    
                                    <button class="submit-button" type="submit" name="createPost">update</button>
                                </fieldset>
                            </form>
                            <% if((currentUser && comment.author.id.equals(currentUser._id)) || (currentUser && debate.moderator.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
                            <button class="pure-button edit-button" id="edit-comment">EDIT</button>
                            <form class="delete-comment-form" action="/category/<%= category_slug %>/<%= debate.slug %>/discussion/<%=comment._id%>?_method=DELETE" method="POST">
                                <button class="pure-button" id="delete-comment-button" type="submit">DELETE</button>
                            </form>
                            <% } %>
                        </div>
                    <%})%>
                </div>
            </section>        
        
    <% } else { %>
        <div class="coming-soon">
            <p>Debate coming soon.</p>
            <% if(currentUser && debate.moderator.id.equals(currentUser._id)) { %>
                <div class="moderator-debate-content">
                    <p class="">Add new arguments</p>
                    <a href="/category/<%= category_slug %>/<%= debate.slug %>/for/new" class="pure-button add-content-button">For</a>
                    <a href="/category/<%= category_slug %>/<%= debate.slug %>/against/new" class="pure-button add-content-button">Against</a>
                </div>
            <% } %>
        </div>
    <% } %>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script>
<% if(debate.for && debate.against) { %>
    var ctx = document.getElementById('debatePie').getContext('2d');
    var pieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['For', 'Against'],
            datasets: [{
                label: '# of Votes',
                data: [<%= debate.for.votes %>, <%= debate.against.votes%>],
                backgroundColor: [
                    'rgb(204, 164, 59)',
                    'rgb(36, 47, 64)'
                ]
            }]
        },
        options: {
            cutoutPercentage: 75
        }
    });
<% } else {%>
    console.log('No data');
<% } %>
pieChart.canvas.parentNode.style.height = '300px';
pieChart.canvas.parentNode.style.width = '300px';
</script>

<%- include("../partials/footer") %>
