<%- include("../partials/header") %>

<h2>
        <%= debate.topic %>
    </h2>

<div class="row">

        <h4 class="col-md-12">The Case FOR</h4>
        <p class="col-md-12">
            <em>by - <%= debate.for.author %></em>
        </p>
        <div class="col-md-12 row">
               
                <p class="col-md-6"> 
                    <%= debate.for.content %>
                </p>
                <img class="img-fluid col-md-6" src="http://lorempixel.com/540/360" alt="">
        </div>
        
        <h4 class="col-md-12">The Case AGAINST</h4>
        <p class="col-md-12">
            <em>by - <%= debate.against.author %></em>
        </p>
        <div class="col-md-12 row">
            <img class="col-md-6" src="http://lorempixel.com/640/460" alt="">
            <p class="col-md-6">
                <%= debate.against.content %>
            </p>
        </div>
        
    
</div>
 <br>
<div class="row justify-content-md-center">
    <div class="col text-center">
        <a class="btn btn-outline-info" href="/debates/<%= debate._id %>/edit"> edit </a>
    </div>
    <form class="col text-center" action="/debates/<%= debate._id %>?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger"> delete </button>
    </form>
</div>
<br>
<hr>
<br>
<div class="row justify-content-md-center">
    <div class="col-sm-12">
        <h3>Discussion</h3>
    </div>
    <p class="col-sm-12 text-right">
        <a id="joinDiscBtn" href="/debates/<%= debate._id %>/discussion/new">Join the discussion.</a>
    </p>
    <div id="commentSect" class="col-sm-12">
        <% debate.comments.forEach(function(comment){ %>
            <p class="col-sm-12 comment">
                <strong><%= comment.author %></strong> - <em><%= comment.text %></em>
            </p>
        <% }) %>
    </div>
</div>


<%- include("../partials/footer") %>