<%- include("../partials/header") %>

<div class="row justify-content-md-center">
    <div class="col-sm-10">
        <h2>
            <%= debate.title %>
        </h2>
        <p>
            <%= debate.author %>
        </p>
            <%= debate.content %>
        
    </div>
    
</div>
<div class="row justify-content-md-center">
    <div class="col-sm-4 text-center">
        <a class="btn btn-outline-info" href="/debates/<%= debate._id %>/edit"> edit </a>
    </div>
    <form class="col-sm-4 text-center" action="/debates/<%= debate._id %>?_method=DELETE" method="POST">
        <button class="btn btn-outline-danger"> delete </button>
    </form>
</div>
<br>
<hr>
<br>
<div class="row justify-content-md-center">
    <div class="col-sm-10">
        <h3>Discussion</h3>
    </div>
    <% debate.comments.forEach(function(comment){ %>
        <p>
            <strong><%= comment.author %></strong> - <%= comment.text %>
        </p>
    <% }) %>
</div>



<%- include("../partials/footer") %>